#informacionUsuario{
    display: flex;
    justify-content: center;
    align-items: center;
    
    #cajaExterior{
        margin: auto;
        background-color: $fondo-central;
        width: 900px;
        height: 450px;
        border-radius: 50px;
 
        
        #cajaInterior{
            margin: auto;
            width: 90%;
            margin-top: 1.5%;
            height: 95%;
            border-radius: 50px;
            background-color:$fondoDentroCajas ;
            #fotoPerfil{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding-left: 85%;
                width: 75px;
                height: 75px;
                img{
                    width: 50%;
                    height: 50%;
                }
            }
            #info{
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 5%;
                h2{
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                }
                ul{
                    li{
                        color: blue;
                        text-decoration: none;
                    }
                }
                
            }
            #cerrarSesion{
                text-align: right;
                margin-right: 50px;
                p{
                    a{
                        color: red;
                        text-decoration: none;
                    }
                }                
            }
        }
    }

}
@media screen and (max-width: 480px){
    #informacionUsuario{
        #cajaExterior{
            #cajaInterior{
                #fotoPerfil{
                    //display: block;
                    margin: 0 auto;
                    img{
                        margin: auto;
                    }
                }
            }
        }
    }
    
}