#interiorCursos {
    display: flex;
    justify-content: center;
    align-items: center;

    #cajaExterior {
        padding: 20px;
        background-color: $fondo-central;
        width: 85%;
        height: 700px;
        border-radius: 50px;

        #cajaInterior {
            padding: 20px;
            width: 90%;
            height: 95%;
            border-radius: 50px;
            background-color: $fondoDentroCajas ;
            margin: auto;
            text-align: center;

            .TituloCurso {
                font-family: $Inknut, serif;
                font-size: 30px;
            }

            a {
                text-decoration: none;
                color: black;

                .unidad {
                    border: 1px solid black;
                    margin-top: 15px;
                    border-radius: 5px;
                    background-color: #A8A8A8;
                    font-family: $Inter;
                    font-size: 25px;
                    letter-spacing: 3px;

                    .circulo {
                        bottom: 0;
                        height: 45px;
                        width: 45px;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #interiorCursos {

        #cajaExterior {
            height: 500px;
            #cajaInterior {

                .TituloCurso {
                    font-family: $Inknut, serif;
                    font-size: 20px;
                }

                a {
                    text-decoration: none;
                    color: black;

                    .unidad {
                        border: 1px solid black;
                        margin-top: 15px;
                        border-radius: 5px;
                        background-color: $colorHeaderFooter;
                        font-family: $Inter;
                        font-size: 15px;
                        letter-spacing: 3px;

                        .circulo {
                            bottom: 0;
                            height: 30px;
                            width: 30px;
                        }

                    }
                }
            }
        }
    }

}