#unidad {
    #cajaExterior {
        height: auto;
        margin: auto;
        width: 70%;
        background-color: $fondo-central;
        padding: 50px;

        #cajaInterior {
            margin: auto;
            height: 100%;
            background-color: $fondoDentroCajas;
            padding: 15px;

            h2 {
                text-align: center;
            }

            hr {
                border: 1px rgb(0, 0, 0) dashed;
            }

            #imagen {
                .foto {
                    width: 100%;
                    height: 300px;
                    background-size: cover;
                    margin-top: 20px;
                }

                #fotoUnidad {
                    background-image: url("../imagenes/mer.jpg");
                }
            }

            .logoEnlaces {
                width: 30px;
                height: 30px;
            }

            #archivo,
            #links {
                a {
                    color: black;
                    text-decoration: none;
                    font-size: 17px;
                    font-family: $Inknut;
                    margin-left: 25px;
                }
            }

            #video {

                iframe {
                    display: block;
                    margin: auto;
                    width: 50%;
                    height: 350px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #unidad {
        #cajaExterior {

            #cajaInterior {
                hr {
                   display: none;
                }

                #imagen {
                    .foto {
                        width: 100%;
                        height: 300px;
                        background-size: cover;
                        margin-top: 20px;
                    }

                    #fotoUnidad {
                        background-image: url("../imagenes/mer.jpg");
                    }
                }

                .logoEnlaces {
                    width: 20px;
                    height: 20px;

                }

                #archivo,
                #links {
                    a {
                        font-size: 12px;
                        
                    }
                }
                #video,#archivo,#links{
                    background-color: $colorHeaderFooter;
                    margin-top: 15px;
                    border-radius: 5px;
                    border: 1px solid black;
                }
            }
        }
    }

}