footer {
    width: 100%;
    border-radius: 15px 15px 0 0;
    position: relative;
    z-index: 1;
    top: 65px;
    background-color: $colorHeaderFooter;
    font-size: 20px;
    color: black;
    padding: 20px 0; // Relleno arriba y abajo para el footer
    .grid-container {
        text-align: center; // Centra el contenido dentro del footer
    }

    a {
        color: #ecf0f1;
        text-decoration: none;
        margin: 0 5px;
    }

    // Estilo de los enlaces en el footer para hacerlo más accesible
    .social-links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .mapa{
        display: block;
        height: 200px;
        width: 500px;
        margin: auto;
    }
}
@media screen and (max-width:480px){
    footer{
        .mapa{
            height: 100%;
            width: 100%;
        
        }
    }
}
