
header {
    border-radius: 0 0 15px 15px;
    background-color: $colorHeader;
    display: flex;
    padding: 20px 0;
    
    .container {
        text-align: center;
        font-size: 30px;
        font-family: $Irish, sans-serif;
        letter-spacing: 10px;
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        padding: 10px;
        
    }

    .usuario {
        justify-content: end;
        align-items: end;
        width: 100px;
        height: 100px;
        padding-right: 15px;
        img{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.jacin {
    width: 233px;
    height: 216px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    bottom: 115px;
}


@media screen and (max-width: 480px){
    header{
        
        .container{
            font-size: 17px;
           
        }
        .usuario{
            display: none;
            .icono{
                
                &::after{
                    content: "";
                    display: block;
                    background-image: url(../imagenes/icons8-usuario-24.png);
                    width: 55px;
                    height: 55px;
                    background-size: contain;
                    background-repeat: no-repeat;

                   
                }
            }

        }
    }
    .jacin{
        width: 100px;
        height: 100px;
        left: 25%;
        
    }
    
 }

