// :)
header {
    background-color: $colorHeaderFooter;
    display: flex;
    padding: 20px 0;

    .contenedor {
        text-align: center;
        font-size: 30px;
        font-family: $Irish, sans-serif;
        letter-spacing: 10px;
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        padding: 10px;

    }

    .usuario {
        justify-content: end;
        align-items: end;
        width: 100px;
        height: 100px;
        padding-right: 15px;

        img {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .logo {
        .jacin {
            width: 233px;
            height: 216px;
            object-fit: cover;
            border-radius: 50%;
            position: relative;
            z-index: 1;
            top: 90px;
            left: 5px;
        }
    }

    margin-bottom: 100px;

}




@media screen and (max-width: 480px) {
    header {

        .contenedor {
            font-size: 17px;
           
        }
        .usuario{
            
            img{
                width: 55px;
                height: 55px;
                
            }

        }
    }




}