@import url('https://fonts.cdnfonts.com/css/irish-grover');

// Definición de las variables de color
$colorFondo:#092635;
$boton: #1B4242;
$fondo-central: #9EC8B9;
$colorHeader: #8BBBA8;
$colorFooter: #8BBBA8;
$fondoDentroCajas: #e4e4e4;
$fuente: "Irish Grover";