@import url("https://fonts.cdnfonts.com/css/irish-grover");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
footer {
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  z-index: 1;
  top: 65px;
  background-color: #8BBBA8;
  font-size: 20px;
  color: black;
  padding: 20px 0;
}
footer .grid-container {
  text-align: center;
}
footer a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 5px;
}
footer .social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer .mapa {
  display: block;
  height: 200px;
  width: 500px;
  margin: auto;
}

@media screen and (max-width: 480px) {
  footer .mapa {
    height: 100%;
    width: 100%;
  }
}
header {
  border-radius: 15px;
  background-color: #8BBBA8;
  display: flex;
  padding: 20px 0;
  margin-bottom: 100px;
}
header .contenedor {
  text-align: center;
  font-size: 30px;
  font-family: "Irish Grover", sans-serif;
  letter-spacing: 10px;
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}
header .usuario {
  justify-content: end;
  align-items: end;
  width: 100px;
  height: 100px;
  padding-right: 15px;
}
header .usuario img {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo .jacin {
  width: 233px;
  height: 216px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  top: 90px;
  left: 5px;
}

@media screen and (max-width: 480px) {
  header .contenedor {
    font-size: 17px;
  }
  header .usuario img {
    width: 55px;
    height: 55px;
  }
  header .logo .jacin {
    width: 150px;
    height: 150px;
    left: 100%;
  }
}
#inicioSesion {
  position: relative;
  z-index: 2;
  bottom: 100px;
  background-color: #9EC8B9;
  width: 55%;
  height: 400px;
  margin: auto;
  text-align: center;
}
#inicioSesion .login-container {
  padding-top: 50px;
}
#inicioSesion input {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  height: 74px;
  width: 75%;
  text-align: center;
  font-size: 17px;
}
#inicioSesion button {
  background-color: #1B4242;
  margin-top: 20px;
  color: white;
  height: 73px;
  width: 230px;
  font-size: 30px;
  border-radius: 30px;
}

#cursos #cajaExterior {
  height: auto;
  margin: auto;
  width: 70%;
  background-color: #9EC8B9;
  padding: 50px;
}
#cursos #cajaExterior #cajaInterior {
  margin: auto;
  height: 100%;
  background-color: #e4e4e4;
  padding: 15px;
}
#cursos #cajaExterior #cajaInterior .asignatura {
  background-color: #9EC8B9;
  margin-top: 20px;
}
#cursos #cajaExterior #cajaInterior .asignatura a {
  color: black;
  overflow-wrap: break-word;
}
#cursos #cajaExterior #cajaInterior .asignatura a .foto {
  width: 100%;
  height: 200px;
  background-size: cover;
  margin-top: 20px;
}
#cursos #cajaExterior #cajaInterior .asignatura a #foto1 {
  background-image: url("../imagenes/bases.jpeg");
}
#cursos #cajaExterior #cajaInterior .asignatura a #foto2 {
  background-image: url("../imagenes/despliegues.jpg");
}

@media (min-width: 1023px) {
  .foto {
    width: 100%;
    height: 50px;
    background-size: cover;
    background-position: center;
  }
  #foto1 {
    margin-bottom: 15px;
  }
  .informacion a h2 {
    font-size: 30px;
    font-weight: bold;
  }
}
#interiorCursos {
  display: flex;
  justify-content: center;
  align-items: center;
}
#interiorCursos #cajaExterior {
  padding: 20px;
  background-color: #9EC8B9;
  width: 85%;
  height: 700px;
  border-radius: 50px;
}
#interiorCursos #cajaExterior #cajaInterior {
  padding: 20px;
  width: 90%;
  height: 95%;
  border-radius: 50px;
  background-color: #e4e4e4;
  margin: auto;
  text-align: center;
}
#interiorCursos #cajaExterior #cajaInterior .TituloCurso {
  font-family: "Inknut Antiqua", serif;
  font-size: 30px;
}
#interiorCursos #cajaExterior #cajaInterior .unidad {
  border: 1px solid black;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #A8A8A8;
  font-family: "Inter";
  font-size: 25px;
  letter-spacing: 3px;
}
#interiorCursos #cajaExterior #cajaInterior .unidad .circulo {
  bottom: 0;
  height: 45px;
  width: 45px;
}

#informacionUsuario {
  display: flex;
  justify-content: center;
  align-items: center;
}
#informacionUsuario #cajaExterior {
  margin: auto;
  background-color: #9EC8B9;
  width: 900px;
  height: 450px;
  border-radius: 50px;
}
#informacionUsuario #cajaExterior #cajaInterior {
  margin: auto;
  width: 90%;
  margin-top: 1.5%;
  height: 95%;
  border-radius: 50px;
  background-color: #e4e4e4;
}
#informacionUsuario #cajaExterior #cajaInterior #fotoPerfil {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 85%;
  width: 75px;
  height: 75px;
}
#informacionUsuario #cajaExterior #cajaInterior #fotoPerfil img {
  width: 50%;
  height: 50%;
}
#informacionUsuario #cajaExterior #cajaInterior #info {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5%;
}
#informacionUsuario #cajaExterior #cajaInterior #info h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
#informacionUsuario #cajaExterior #cajaInterior #info ul li {
  color: blue;
  text-decoration: none;
}
#informacionUsuario #cajaExterior #cajaInterior #cerrarSesion {
  text-align: right;
  margin-right: 50px;
}
#informacionUsuario #cajaExterior #cajaInterior #cerrarSesion p a {
  color: red;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  #informacionUsuario #cajaExterior #cajaInterior #fotoPerfil {
    margin: 0 auto;
  }
  #informacionUsuario #cajaExterior #cajaInterior #fotoPerfil img {
    margin: auto;
  }
}
* {
  border-radius: 15px;
}

body {
  background-color: #092635;
}/*# sourceMappingURL=style.css.map */