@import "_footer.scss";
@import "_header.scss";
@import "_variables.scss";


* {
    border-radius: 15px; // Bordes redondeados globalmente
}

body {
    background-color: $colorFondo; // Fondo general de la página
    font-family: sans-serif; // Fuente general
}

// Estilo para el área de inicio de sesión
#inicioSesion {
    position: relative;
    z-index: 2;
    bottom: 100px;
    background-color: $fondo-central;
    width: 55%;
    height: 400px;
    margin: auto;
    text-align: center;
    padding: 50px 0; // Un poco de relleno arriba y abajo

    .login-container {
        padding-top: 50px;
    }

    input {
        display: block;
        margin: auto;
        margin-bottom: 25px;
        height: 74px;
        width: 75%;
        text-align: center;
        font-size: 17px;
        border-radius: 30px;
    }

    button {
        background-color: $boton;
        margin-top: 20px;
        color: white;
        height: 73px;
        width: 230px;
        font-size: 30px;
        border-radius: 30px;
    }
}

#cursos {
    #cajaExterior {
        height: 1000px;
        margin: auto;
        width: 100%;
        background-color: $fondo-central;
        padding: 50px;

        #cajaInterior {
            margin: auto;
            height: 100%;
            background-color: $fondoDentroCajas;
            padding: 20px;
            display: flex;
            flex-wrap: wrap; // Usamos flexbox para controlar mejor los elementos

            .asignatura {
                display: flex; // Aseguramos que las celdas estén alineadas
                align-items: center; // Centra las celdas verticalmente
                width: 100%;
                margin-top: 20px;
                background-color: $fondo-central;

                .foto {
                    .fotoCurso {
                        top: 25px;
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                        object-fit: cover;
                    }
                }

                .informacion {
                    word-wrap: break-word;
                    flex: 0 0 30%; // Fija el ancho de la celda
                    padding: 30px;
                }
            }
        }
    }
}
