@import "_footer.scss";
@import "_header.scss";
@import "node_modules/foundation-sites/scss/foundation";

$colorFondo:#092635;
$boton: #1B4242;
$fondo-central: #9EC8B9;
*{
    border-radius: 15px;
}
body{
    background-color: $colorFondo;
}
main{
    position: relative;
    z-index: 2;
    bottom: 100px;
    background-color: $fondo-central;
    width: 55%;
    height: 400px;
    margin: auto;
    text-align: center;
    .login-container{
        padding-top: 50px;
    }
    input{
        display: block;
        margin: auto;
        margin-bottom: 25px;
        height: 74px;
        width: 75%;
         text-align: center;
         font-size: 17px;
    }
    button{
        background-color: $boton;
        margin-top: 20px;
        color: white;
        height: 73px;
        width: 230px;
        font-size: 30px;
        border-radius: 30px;
    }
    
}