main{
    #cajaExterior{
        width: 900px;
        background-color: $colorHeaderFooter;
        border-radius: 15px;
        
        #cajaInterior{
            width: 60%;
            background-color: $fondoDentroCajas;
            border-radius: 15px;
            margin: auto;
            font-family: $texto;
            .encabezado{
                .fotoPerfil{
                    
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
                .nombre{
                    h2{
                        
                    font-weight: bold;
                    }
                }
            }
            
        }
    }
}