.cursos {
    height: 790px;

    .asignatura {
        height: 45%;
        background-color: $colorHeaderFooter;
        padding: 10px;
        margin-top: 25px;


        .fotoCurso {
            background-repeat: no-repeat;
            height: 50%;
            background-size: 65%;
        }

        #bases {
            background-image: url(../imagenes/bases.jpeg);
        }

        #despliegue {
            background-image: url(../imagenes/despliegues.jpg);
        }

        a {
            .infoCurso {
                color: black;

                h2 {
                    font-size: 1.5em;
                    font-weight: 700;
                }

                p {
                    font-size: 1.2em;
                }
            }
        }

    }
}