@import url('https://fonts.cdnfonts.com/css/irish-grover');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Definición de las variables de color
$colorFondo:#092635;
$boton: #1B4242;
$fondo-central: #9EC8B9;
$colorHeaderFooter: #8BBBA8;
$fondoDentroCajas: #e4e4e4;
// Definición de las variables de fuente
$Irish: "Irish Grover";
$Inknut: "Inknut Antiqua";
$Inter: "Inter";
$texto : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;