@import 'variables';
@import 'header';
@import 'footer';
@import 'inicio';
@import 'infoUsuario';
@import "paginaCursos";
@import "dentroCurso";

* {
    border-radius: 15px;
}

header, main, footer{
    border-radius: 0px;
}

main {
    #cajaExterior {
        width: 50%;
        background-color: $colorHeaderFooter;
        height: 85%;

        #cajaInterior {
            width: 80%;
            background-color: $fondoDentroCajas;
            border-radius: 15px;
            margin: auto;
            font-family: $texto;
            height: 95%;
        }
    }
}